@mixin primaryButton {
  background-color: $corPrimaria02;
  color: $white;
}

@mixin outlineButton {
  background-color: $white;
  color: $corPrimaria02;
  border: 1px solid $corPrimaria02;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.primary {
    @include primaryButton;
    &:hover {
     @include outlineButton;
    }
  }
  &.outline {
    @include outlineButton;
    &:hover {
     @include primaryButton;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
