$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

$corPrimaria02: #5E49FF;
$corPrimaria03: #25CBD3;
$corPrimaria04: #F0F5FF;

$cinza00: #F4F4F4;
$cinza01: #DADADA;
$cinza02: #7C7786;
$cinza03: #4D4C4D;
$cinza04: #333333;
$cinza05: #E5E5E5;
$vermelho: #ff0000;

$white: #fff;

$desktopBreakpoint: 992px;